html {
  scroll-snap-type: y mandatory;
}

.app {
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}

.app_videos {
  position: relative;
  height: 600px;
  width: 80%;
  max-width: 400px;
  border-radius: 20px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

.app_videos::-webkit-scrollbar {
  display: none;
}
